<div class="center">

  <h1>Hello <%= @user.username %>! Please confirm your email by clicking the link below:</h1>
    <p>
      <%= link_to "Confirm My Account", @confirmation_url %>
    </p>
    
</div>